* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.app {
  position: relative;
  height: 100%; }

.add-input {
  margin-top: -45px;
  position: absolute;
  margin-left: 1080px;
  background: pink;
  width: 38px;
  height: 38px;
  color: white;
  border: none;
  border-radius: 999px;
  font-size: 20px;
  cursor: pointer; }

.link-nav {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 800px;
  height: 50px; }

.authed-nav {
  width: 1000px; }

nav {
  display: none;
  position: fixed;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px; }
  nav .fas {
    color: black; }

.link-current {
  color: black;
  font-weight: lighter;
  font-size: 25px;
  text-decoration: none;
  border-bottom: 3px solid black;
  margin-left: 300px; }

.link {
  color: black;
  font-weight: lighter;
  font-size: 25px;
  text-decoration: none;
  margin-left: 30px; }

.link-login {
  color: black;
  font-weight: lighter;
  font-size: 25px;
  text-decoration: none;
  margin-left: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffd972;
  border-radius: 100px;
  box-shadow: 0px 10px 6px #00000029; }

@media screen and (max-width: 768px) {
  .link-nav {
    display: none; }
  nav {
    display: block; } }

.home {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.7), rgba(242, 92, 84, 0.7)), url(../images/hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .home .circle-holder {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .home .circle-holder .little-circle {
      position: absolute;
      width: 150px;
      height: 150px;
      background-color: #fcbcb8;
      border-radius: 100px;
      margin-left: 270px;
      margin-top: -270px;
      z-index: 0; }
      .home .circle-holder .little-circle .little-circle-desc {
        font-size: 10px;
        font-weight: lighter;
        margin-left: 35px;
        margin-top: 50px; }
    .home .circle-holder .big-circle {
      width: 300px;
      height: 300px;
      background-color: #ffd972;
      border-radius: 200px;
      z-index: 1; }
      .home .circle-holder .big-circle .big-circle-title {
        font-size: 24px;
        margin-top: 90px;
        margin-left: 60px; }
      .home .circle-holder .big-circle .big-circle-desc {
        font-size: 13px;
        font-weight: lighter;
        margin-left: 90px; }

.logo {
  background-image: url(../images/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 168px;
  height: 55px;
  position: fixed;
  top: 50px;
  left: 50px; }

@media all and (min-width: 700px) and (max-width: 768px) {
  .home .circle-holder .little-circle {
    margin-left: 230px;
    margin-top: -250px; } }

.login {
  background-color: #ffd972;
  width: 100vw;
  height: 100vh;
  padding-top: 154px;
  display: flex;
  justify-content: center; }
  .login .form {
    width: 436px;
    height: 515px; }
  .login .form2 {
    width: 436px;
    height: 515px;
    margin-left: 91px; }
  .login .form-title {
    font-weight: lighter;
    text-align: center;
    padding-top: 136px;
    font-size: 30px; }
  .login .form-input {
    font-size: 12px;
    background-color: #ffd972;
    color: black;
    letter-spacing: 1.2px;
    border: none;
    border-bottom: 3px solid black;
    padding-top: 61px;
    margin: 0 auto;
    display: block; }
  .login .form-login {
    width: 209px;
    height: 52px;
    color: black;
    font-weight: lighter;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    background-color: #ffd972;
    border-radius: 100px;
    box-shadow: 0px 10px 6px #00000029;
    margin: 0 auto;
    display: block;
    margin-top: 53px; }
  .login .form2-sub-title {
    font-weight: lighter;
    font-style: italic;
    padding-top: 21px;
    padding-left: 45px; }
  .login .form2-title {
    font-size: 30px;
    font-weight: lighter;
    padding-left: 45px; }
  .login .form2-input {
    background-color: #ffd972;
    width: 250px;
    font-size: 12px;
    color: black;
    letter-spacing: 1.2px;
    border: none;
    border-bottom: 3px solid black;
    padding-top: 61px;
    margin-left: 45px; }
  .login .form2-login {
    width: 209px;
    height: 52px;
    color: black;
    font-weight: lighter;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    background-color: #ffd972;
    border-radius: 100px;
    box-shadow: 0px 10px 6px #00000029;
    display: block;
    margin-top: 25px;
    margin-left: 45px; }

.browse {
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.7), rgba(167, 232, 189, 0.7)), url(../images/recipe-hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1000px; }
  .browse .browse-title {
    font-size: 25px;
    padding-top: 195px;
    padding-left: 107px;
    font-weight: lighter; }
  .browse .browse-row1 {
    display: flex; }
  .browse .pizza {
    width: 300px;
    height: 263px;
    background-image: url(../images/recipe-pizza.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin-left: 107px;
    margin-top: 50px; }
  .browse .food-desc {
    width: 224px;
    height: 263px;
    background-color: white;
    margin-top: 50px;
    border-radius: 24px; }
  .browse .food-title {
    font-size: 15px;
    font-weight: lighter;
    border-bottom: 3px solid black;
    margin-top: 46px;
    text-align: center; }
  .browse .food-summary {
    font-size: 9px;
    font-weight: lighter;
    margin-top: 20px;
    text-align: center; }
  .browse .food-timer {
    display: flex; }
  .browse .timer {
    width: 23px;
    height: 24px;
    margin-top: 20px;
    margin-left: 71px; }
  .browse .timer-desc {
    margin-top: 25px;
    margin-left: 18px;
    font-weight: lighter;
    font-size: 10px; }
  .browse .food-serving {
    display: flex; }
  .browse .servings {
    width: 23px;
    height: 24px;
    margin-top: 5px;
    margin-left: 71px; }
  .browse .servings-desc {
    padding-top: 10px;
    padding-left: 18px;
    font-weight: lighter;
    font-size: 10px; }
  .browse .burger {
    width: 300px;
    height: 263px;
    background-image: url(../images/recipe-burger.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin-left: 107px;
    margin-top: 50px; }
  .browse .servings-desc-burger {
    padding-top: 10px;
    padding-left: 18px;
    font-weight: lighter;
    font-size: 10px; }
  .browse .browse-row2 {
    display: flex; }
  .browse .pilaf {
    background-image: url(../images/recipe-pilaf.jpeg);
    width: 300px;
    height: 263px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin-left: 107px;
    margin-top: 50px; }
  .browse .chowmein {
    background-image: url(../images/recipe-chowmein.jpeg);
    width: 300px;
    height: 263px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 24px;
    margin-left: 107px;
    margin-top: 50px; }

.create {
  width: 100%;
  margin-bottom: 100px; }
  .create .create-title {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 214px;
    margin-left: 149px; }
  .create .create-form-input {
    width: 974px;
    border: none;
    border-bottom: 3px solid black;
    font-size: 20px;
    margin-top: 83px;
    margin-left: 149px;
    display: block; }
  .create .create-list {
    width: 981px; }
  .create .list-title {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 135px;
    margin-left: 151px; }
  .create .add-form-input {
    width: 974px;
    border: none;
    border-bottom: 3px solid black;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 149px;
    display: block; }
  .create .create-recipe {
    background-color: #efa7a7;
    width: 422px;
    height: 52px;
    font-size: 25px;
    font-weight: lighter;
    border-radius: 26px;
    margin-top: 109px;
    margin-left: 500px; }

.recipes {
  background-image: linear-gradient(to right, rgba(167, 232, 189, 0.7), rgba(167, 232, 189, 0.7)), url(../images/recipe-hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 50px; }
  .recipes .recipes-title {
    font-size: 25px;
    font-weight: lighter;
    padding-top: 228px;
    padding-left: 107px; }
  .recipes .pizza {
    display: flex; }
  .recipes .recipe-pizza {
    background-color: gray;
    width: 300px;
    height: 263px;
    border-radius: 24px;
    margin-top: 50px;
    margin-left: 107px; }
  .recipes .view {
    font-size: 20px;
    font-weight: lighter;
    width: 128px;
    height: 42px;
    background-color: #ffd972;
    border-radius: 26px;
    margin-top: 110px;
    margin-left: 86px; }
  .recipes .view-link {
    text-decoration: none;
    color: black; }
  .recipes .food-desc {
    width: 224px;
    height: 263px;
    background-color: white;
    margin-top: 50px;
    border-radius: 24px; }
  .recipes .food-title {
    font-size: 15px;
    font-weight: lighter;
    border-bottom: 3px solid black;
    margin-top: 46px;
    text-align: center; }
  .recipes .food-summary {
    font-size: 9px;
    font-weight: lighter;
    margin-top: 20px;
    text-align: center; }
  .recipes .food-timer {
    display: flex; }
  .recipes .timer {
    width: 23px;
    height: 24px;
    margin-top: 20px;
    margin-left: 71px; }
  .recipes .timer-desc {
    margin-top: 25px;
    margin-left: 18px;
    font-weight: lighter;
    font-size: 10px; }
  .recipes .food-serving {
    display: flex; }
  .recipes .servings {
    width: 23px;
    height: 24px;
    margin-top: 5px;
    margin-left: 71px; }
  .recipes .servings-desc {
    padding-top: 10px;
    padding-left: 18px;
    font-weight: lighter;
    font-size: 10px; }
  .recipes .edit {
    font-size: 20px;
    font-weight: lighter;
    background-color: #ffd972;
    width: 128px;
    height: 42px;
    border-radius: 26px;
    margin-top: 15px;
    margin-left: 122px; }
  .recipes .edit-link {
    text-decoration: none;
    color: black; }
  .recipes .delete {
    font-size: 20px;
    font-weight: lighter;
    background-color: #ffd972;
    width: 128px;
    height: 42px;
    border-radius: 26px;
    margin-top: 15px;
    margin-left: 14px; }
  .recipes #recipe-list {
    width: 100vw;
    display: flex;
    flex-wrap: wrap; }
    .recipes #recipe-list .loading {
      display: block;
      text-align: center;
      width: 100%; }

.view {
  width: 100%;
  height: 1500px; }
  .view .food-image {
    background-image: url(../images/recipe-pizza.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 468px;
    height: 421px;
    margin-top: 243px;
    margin-left: 134px; }
  .view .image {
    display: flex; }
  .view .view-title {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 248px;
    margin-left: 40px; }
  .view .view-desc {
    font-size: 20px;
    font-weight: lighter;
    margin-left: 40px;
    margin-top: 35px; }
  .view .view-total {
    font-size: 20px;
    font-weight: lighter;
    margin-left: 40px;
    margin-top: 45px; }
  .view .view-amount {
    font-size: 20px;
    font-weight: lighter;
    margin-left: 40px;
    margin-top: 35px; }
  .view .subtitle {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 66px;
    margin-left: 134px; }
  .view .subtitle-desc {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 35px;
    margin-left: 134px; }
  .view .view-edit {
    font-size: 20px;
    font-weight: lighter;
    width: 128px;
    height: 42px;
    background-color: #ffd972;
    border-radius: 26px;
    margin-top: 60px;
    margin-left: 134px; }
  .view .edit-link {
    text-decoration: none;
    color: black; }

.edit {
  width: 100%;
  margin-bottom: 100px; }
  .edit .edit-title {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 214px;
    margin-left: 149px; }
  .edit .edit-form-input {
    width: 974px;
    border: none;
    border-bottom: 3px solid black;
    font-size: 20px;
    margin-top: 83px;
    margin-left: 149px;
    display: block; }
  .edit .edit-list {
    width: 981px; }
  .edit .list-title {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 135px;
    margin-left: 151px; }
  .edit .list-form-input {
    width: 974px;
    border: none;
    border-bottom: 3px solid black;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 149px;
    display: block; }
  .edit .submit {
    font-size: 25px;
    font-weight: lighter;
    width: 422px;
    height: 52px;
    background-color: #efa7a7;
    border-radius: 26px;
    margin-top: 109px;
    margin-left: 500px; }

#loading h2 {
  width: 100%;
  margin-top: 200px;
  text-align: center;
  margin-bottom: 100px; }

footer {
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -55px; }
  footer .copyright {
    font-size: 15px;
    font-weight: lighter;
    font-family: italic;
    margin-right: 70px;
    margin-left: -30px; }
  footer .footer-login {
    font-size: 15px;
    font-weight: lighter;
    font-family: italic;
    text-decoration: none;
    color: black; }
  footer .footer-recipes {
    font-size: 15px;
    font-weight: lighter;
    font-family: italic;
    text-decoration: none;
    color: black; }
  footer .privacy {
    font-size: 15px;
    font-weight: lighter;
    font-family: italic;
    text-decoration: none;
    color: black; }
  footer .create-recipes {
    font-size: 15px;
    font-weight: lighter;
    font-family: italic;
    text-decoration: none;
    color: black; }
  footer .facebook-logo {
    object-fit: cover;
    width: 19px;
    height: 19px;
    margin-left: 70px;
    margin-bottom: 10px; }
  footer .instagram-logo {
    object-fit: cover;
    width: 19px;
    height: 19px;
    margin-bottom: 10px; }
