* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.app {
  position: relative;
  height: 100%;
}

.add-input {
  margin-top: -45px;
  position: absolute;
  margin-left: 1080px;
  background: pink;
  width: 38px;
  height: 38px;
  color: white;
  border: none;
  border-radius: 999px;
  font-size: 20px;
  cursor: pointer;
}
